body {
	background-color: grey;
}
#all {
	position: absolute;
	left: 500px;
}
img {
	width: 335px;
	height: auto;
	position: absolute;
}

#screen {
	width: 283px;
	height: 500px;
	background-color: white;
	border: 4px solid black;
	position: absolute;
	left: 24px;
	top: 100px;
}

a {
	text-decoration: none;
}

.home {
	position: absolute;
	top: 0;
	left: 7%;
}

.home a {
	color: black;
}

/**********************************************************************/
/*logo*/
h1 {
	position: absolute;
	font-family: "Helvetica", sans-serif;
	font-size: 48px;
	text-align: center;
	color: #8EBDF3;
	z-index: 1;
}
h2 {
	position: absolute;
	font-family: "Helvetica", sans-serif;
	font-size: 48px;
	text-align: center;
	color: #E489A2;
	left: 7px;
	top: -2px;
	z-index: 0;
}

/**********************************************************************/
/*smaller logo*/

h3 {
	position: absolute;
	font-family: "Helvetica", sans-serif;
	font-size: 27px;
	text-align: center;
	color: #8EBDF3;
	left: 7px;
	z-index: 1;
	margin-top: 5px;
}
h4 {
	position: absolute;
	font-family: "Helvetica", sans-serif;
	font-size: 27px;
	text-align: center;
	color: #E489A2;
	left: 10px;
	margin-top: 8px;
	z-index: 0;
}

/**********************************************************************/
/*sign in w/ facebook*/
.sign-up {
	width: 230px;
	height: 70px;
	background-color: #8EBDF3;
	box-shadow: 6px 6px 0px #000000;
	position: absolute;
	left: 25px;
	top: 250px;
}

.sign-up p {
	font-family: "Helvetica", sans-serif;
	font-size: 20px;
	position: absolute;
	left: 10px;
	top: 5px;
	text-decoration: none;
	color: white;
}

.no-fb-text {
	font-family: "Avenir Next", sans-serif;
	font-size: 16px;
	position: absolute;
	left: 60px;
	top: 330px;
}

.no-facebook {
	display: none;
	position: absolute;
	left: 25px;
	top: 190px;
	width: 230px;
	height: 250px;
	background-color: #AB88D4;
	box-shadow: 6px 6px 0px #000000;
}

.close {
	font-family: "Avenir Next", sans-serif;
	font-size: 18px;
	height: 15px;
	color: white;
	margin: 0;
	padding-left: 5px;
	padding-top: 5px;
}

.no-facebook p:nth-child(2){
	font-family: "Avenir Next", sans-serif;
	font-size: 70px;
	color: white;
	margin: 0;
	padding-left: 25px;
}

.no-facebook p:nth-child(3){
	font-family: "Avenir Next", sans-serif;
	font-size: 16px;
	color: white;
	margin: 0;
	padding: 5px 20px 0px 30px;
}

/**********************************************************************/
/*log in screen*/
.log-in {
	font-family: "Helvetica", sans-serif;
	font-size: 20px;
	display: block;
	position: absolute;
	left: 65px;
	top: 170px;
}

.fb-logo {
	width: 40px;
	height: auto;
	position: absolute;
	left: 20px;
	top: 180px;
}

/*form input styling*/
.form {
	position: absolute;
	left: 20px;
	top: 235px;
}

input {
	width: 230px;
	height: 20px;
	padding: 3px 6px;
	border-radius: 8px;
    margin: 8px 0;
    border: 2px solid #ccc;
    outline: none;
}

form {
	font-family: "Avenir Next", sans-serif;
	font-size: 14px;
}

input[type=text]:focus {
    border: 2px solid #AB88D4;
    font-size: 14px;
    font-family: "Avenir Next", sans-serif;
}

.form input[type=password]:focus {
    border: 2px solid #AB88D4;
    font-size: 14px;
}

/*log in button*/
.log-button {
	width: 150px;
	height: 60px;
	background-color: #AB88D4;
	box-shadow: 6px 6px 0px #000000;
	margin-left: 60px;
	margin-top: 380px;
}

.log-button p {
	font-family: "Helvetica", sans-serif;
	font-size: 20px;
	padding-left: 40px;
	padding-top: 18px;
	text-decoration: none;
	color: white;
}

/**********************************************************************/
/*drop down choose school*/
.school-form {
	margin-top: 200px;
}

fieldset {
    border: none;
    margin-left: 0;
}

select {
	width: 235px;
	height: 40px;
	font-family: "Avenir Next", sans-serif;
	font-size: 16px;
	background-color: white;
	margin-left: 15px;
}

/**********************************************************************/
/*main menu tabs -- EVENTS*/
.events-tab {
	position: absolute;
	width: 250px;
	height: 125px;
	background-color: #E489A2;
	box-shadow: 6px 6px 0px #000000;
	left: 15px;
	top: 60px;
}

.events-tab p {
	font-family: "Helvetica", sans-serif;
	font-size: 38px;
	position: absolute;
	left: 65px;
	text-decoration: none;
	color: black;
}

/*main menu tabs -- PLACES*/
.places-tab {
	position: absolute;
	width: 250px;
	height: 125px;
	background-color: #FAF06B;
	box-shadow: 6px 6px 0px #000000;
	left: 15px;
	top: 205px;
}

.places-tab p {
	font-family: "Helvetica", sans-serif;
	font-size: 38px;
	position: absolute;
	left: 65px;
	text-decoration: none;
	color: black;
}

/*main menu tabs -- CONNECT*/
.connect-tab {
	position: absolute;
	width: 250px;
	height: 125px;
	background-color: #8EBDF3;
	box-shadow: 6px 6px 0px #000000;
	left: 15px;
	top: 355px;
}

.connect-tab p {
	font-family: "Helvetica", sans-serif;
	font-size: 38px;
	position: absolute;
	left: 50px;
	text-decoration: none;
	color: black;
}

/**********************************************************************/
/*events overview nav*/

/*nav menu tabs -- EVENTS*/
.events-nav {
	position: absolute;
	width: 85px;
	height: 30px;
	background-color: #FAF06B;
	box-shadow: 3px 3px 0px #000000;
	left: 5px;
	top: 10px;
}

.events-nav p {
	font-family: "Avenir Next", sans-serif;
	font-size: 16px;
	position: absolute;
	left: 15px;
	margin-top: 4px;
	text-decoration: none;
	color: black;
}

/*nav menu tabs -- PLACES*/
.places-nav {
	position: absolute;
	width: 85px;
	height: 30px;
	background-color: #E489A2;
	box-shadow: 3px 3px 0px #000000;
	left: 98px;
	top: 10px;
}

.places-nav p {
	font-family: "Avenir Next", sans-serif;
	font-size: 16px;
	position: absolute;
	left: 17px;
	margin-top: 4px;
	text-decoration: none;
	color: black;
}

/*nav menu tabs -- CONNECT*/
.connect-nav {
	position: absolute;
	width: 85px;
	height: 30px;
	background-color: #E489A2;
	box-shadow: 3px 3px 0px #000000;
	left: 190px;
	top: 10px;
}

.connect-nav p {
	font-family: "Avenir Next", sans-serif;
	font-size: 16px;
	position: absolute;
	left: 11px;
	margin-top: 4px;
	text-decoration: none;
	color: black;
}

/*date*/
.date {
	font-family: "Helvetica", sans-serif;
	font-size: 20px;
	margin-left: 10px;
	margin-top: 60px;
}

/*events overview scroll*/
.events-scroll {
	position: absolute;
	left: 10px;
	top: 100px;
	width: 265px;
	height: 401px;
	overflow-y: scroll;
}

/*zadie*/
.zadie {
	display: block;
	height: 70px;
	border-top: 1px solid black;
}

h5 {
	font-family: "Avenir Next", sans-serif;
	font-size: 18px;
	margin-top: 8px;
	display: inline-block;
	color: black;
}

.events-scroll .zadie p.time {
	font-family: "Avenir Next", sans-serif;
	font-size: 15px;
	display: inline-block;
	margin-left: 20px;
	color: black;
}

.events-scroll .zadie p {
	font-family: "Avenir Next", sans-serif;
	font-size: 13px;
	margin: 0;
	margin-top: -25px;
	color: black;
}

/**********************************************************************/

/*main div*/
.main-event {
	position: absolute;
	left: 10px;
	top: 50px;
	width: 263px;
	height: 448px;
	overflow: scroll;
}

/*title*/
h6 {
	font-family: "Avenir Next", sans-serif;
	font-size: 20px;
	text-align: center;
	margin: 0;
}

/*date and time*/
.detail-date {
	font-family: "Avenir Next", sans-serif;
	font-size: 14px;
	text-align: center;
	margin: 0;
}

/*google maps*/
iframe {
	width: 265px;
	height: 210px;
	border: 0;
	margin-top: 5px;
}

/*address whole*/
.address {
	width: 220px;
	display: inline-block;
	margin-top: 12px;
}

/*location text*/
.address p {
	font-family: "Avenir Next", sans-serif;
	font-size: 16px;
	margin: 0;
}

/*google maps icon*/
.whole-address img {
	width: 40px;
	height: auto;
	margin-top: 10px;
	display: inline-block;
}

/*main info paragraphs*/
.main-info {
	font-family: "Avenir Next", sans-serif;
	font-size: 14px;
	margin-top: 20px;
}

/*contact button*/
.contact-button {
	width: 190px;
	height: 40px;
	background-color: #AB88D4;
	box-shadow: 3px 3px 0px #000000;
	margin-left: 30px;
	margin-bottom: 15px;
}

.contact-button p {
	font-family: "Avenir Next", sans-serif;
	font-size: 14px;
	color: white;
	text-align: center;
	padding-top: 10px;
}

/**********************************************************************/
/*search box and filter by div*/
.search-filter {
	position: absolute;
	left: 10px;
	top: 65px;
	width: 260px;
}

.search-box {
	float: left;
}

.search-box input{
	width: 160px;
	border: 2px solid #8EBDF3;
}

.search-box input[placeholder]{
	text-align: center;
}

.search-box input[type=text]:focus {
	border: 2px solid #8EBDF3;
}

/*filter*/
.filter-by {
	display: inline-block;
	margin-top: 33px;
	margin-left: 22px;
	font-family: "Avenir Next", sans-serif;
	font-size: 14px;
	color: grey;
}

/*indiv location overview*/
.location-spot {
	border-top: 1px solid black;
	height: 75px;
}

.left-info {
	width: 180px;
	display: inline-block;
}

.right-info {
	width: 80px;
	display: inline-block;
}

.right-info p{
	text-align: right;
}

/*indiv location info*/
.location-spot p {
	font-family: "Avenir Next", sans-serif;
	margin: 0;
}

/*left info*/
.left-info p:first-child {
	font-size: 18px;
	color: black;
}

.left-info p:nth-child(2){
	font-size: 15px;
	color: grey;
}

/*star rating*/
.left-info p:nth-child(3){
	color: #D3D2D3;
	font-size: 22px;
}

.left-info p:nth-child(3) .fill{
	color: #FAF06B;
}

/*right info*/
.right-info p:first-child {
	color: black;
	font-size: 18px;
}

.right-info p:nth-child(2){
	font-size: 15px;
	color: grey;
}

.right-info p:nth-child(3){
	font-size: 15px;
	color: grey;
}

/**********************************************************************/
/*filter options*/
.filter {
	display: block;
	height: 50px;
	border-top: 1px solid black;
	margin: 0;
}

.filter p {
	font-family: "Avenir Next", sans-serif;
	font-size: 20px;
	color: black;
	width: 215px;
	margin: 0;
	padding-top: 10px;
}

/*price and distance options*/
.price-distance {
	display: block;
	height: 100px;
	border-top: 1px solid black;
	margin: 0;
}

.price-distance p {
	font-family: "Avenir Next", sans-serif;
	font-size: 20px;
	margin-top: 10px;
}
/*toggle switch*/
/*toggle switch shifting down and not aligning with text?*/
.toggle {
	position: inherit;
	margin-left: 218px;
	margin-top: -25px;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 45px;
	height: 27px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider-round {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: grey;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider-round:before {
	position: absolute;
	content: "";
	height: 20px;
 	width: 20px;
 	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider-round {
	background-color: #8EBDF3;
}

input:focus + .slider-round {
	box-shadow: 0 0 1px #8EBDF3;
}

input:checked + .slider-round:before {
	-webkit-transform: translateX(17px);
	-ms-transform: translateX(17px);
	transform: translateX(17px);
}

/* Rounded sliders */
.slider-round {
	border-radius: 34px;
}

.slider-round:before {
	border-radius: 50%;
}

/*price & distance div*/
.price {
	width: 260px;
	height: 50px;
	margin-top: -10px;
	border: 2px solid grey;
}

.money {
	display: inline-block;
	width: 63px;
	border-right: 2px solid grey;
}

.clicked {
	background-color: #8EBDF3;
	color: white;
}

.money p {
	margin: 0px;
	font-family: "Avenir Next", sans-serif;
	font-size: 14px;
	height: 35px;
	width: 63px;
	padding-top: 15px;
	text-align: center;
}

.money:hover {
	background-color: #8EBDF3;
}

.money:hover p {
	color: white;
}

/*$$$$*/
.money1 {
	display: inline-block;
	width: 65px;
}

.money1 p {
	margin: 0;
	font-family: "Avenir Next", sans-serif;
	font-size: 14px;
	height: 35px;
	width: 65px;
	padding-top: 15px;
	text-align: center;
}

.money1:hover {
	background-color: #8EBDF3;
}

.money1:hover p {
	color: white;
}

/*done button*/
.done-button {
	width: 140px;
	height: 50px;
	background-color: #AB88D4;
	box-shadow: 6px 6px 0px #000000;
	margin-left: 60px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.done-button p {
	font-family: "Helvetica", sans-serif;
	font-size: 20px;
	padding-left: 40px;
	margin: 0;
	padding-top: 15px;
	text-decoration: none;
	color: white;
}

/**********************************************************************/
/*places detail title*/
.places-title {
	height: 95px;
}

.places-title p {
	font-family: "Avenir Next", sans-serif;
	margin: 0;
}

.review-whole {
	border: 1px solid black;
	height: 50px;
}

.rating span {
	font-size: 14px;
	color: #D3D2D3;
}

/**********************************************************************/
/*write your own review*/
/*negative margin??*/

.write-review input {
	width: 245px;
	border: 1px solid black;
	border-radius: 0;
}

/*actual review thread*/
.review {
	height: 80px;
	width: 265px;
	margin-top: 7px;
	border-top: 1px solid black;
}

.review1 {
	height: 80px;
	width: 265px;
	margin-top: 7px;
	border-top: 1px solid black;
}

.avatar {
	background-color: #D3D2D3;
	height: 60px;
	width: 60px;
	margin-top: 10px;
	display: inline-block;
}
/*rochelle review connect-overview*/
/*top review in connect-detail*/
.rochelle-review {
	display: inline-block;
	width: 200px;
	margin-top: 0px;
}

.rochelle-review p{
	font-family: "Avenir Next", sans-serif;
	font-size: 13px;
	margin: 0;
	color: black;
	margin-top: 10px;
	padding-left: 5px;
}

.rochelle-review p:nth-child(3) {
	width: 50px;
	margin-left: 20px;
	font-size: 16px;
	display: inline-block;
}

.rochelle-review p:nth-child(4) {
	width: 120px;
	color: grey;
	display: inline-block;
	text-align: right;
	padding-left: 0px;
}

.rochelle-review p:nth-child(5) {
	margin-top: 0px;
	width: 195px;
}

/*top review in connect-detail*/
.review-info2 {
	display: inline-block;
	width: 200px;
	margin-top: 0px;
}

.review-info2 p{
	font-family: "Avenir Next", sans-serif;
	font-size: 13px;
	margin: 0;
	color: black;
	margin-top: 10px;
	padding-left: 5px;
}

.review-info2 p:first-child {
	width: 50px;
	font-size: 16px;
	display: inline-block;
}

.review-info2 p:nth-child(2) {
	width: 120px;
	color: grey;
	display: inline-block;
	text-align: right;
	padding-left: 0px;
}

.review-info2 p:nth-child(3) {
	margin-top: 0px;
	width: 195px;
}

/*top alignment with box? padding - margin?*/
.review-info {
	display: inline-block;
	width: 200px;
	margin-top: 0px;
}

.review-info p{
	font-family: "Avenir Next", sans-serif;
	font-size: 13px;
	margin: 0;
	color: black;
	margin-top: 10px;
	padding-left: 5px;
}

.review-info p:nth-child(2) {
	width: 80px;
	font-size: 16px;
	display: inline-block;
	margin-left: 20px;
}

.review-info p:nth-child(3) {
	width:90px;
	color: grey;
	display: inline-block;
	text-align: right;
	padding-left: 0px;
}

.review-info p:nth-child(4) {
	margin-top: 0px;
	width: 195px;
}

.fb-message {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-top: 10px;
}

/*more review - james*/
.james {
	display: none;
	position: absolute;
	top: 515px;
	width: 257px;
	height: 155px;
	background-color: #8EBDF3;
	box-shadow: 3px 3px 0px #000000;
	z-index: 100;
}

.mode {
	position: absolute;
	z-index: 10;
	height: 500px;
	width: 283px;
	display: none;
	background-color: grey;
	opacity: 0.9;

}

.close {
	font-family: "Avenir Next", sans-serif;
	font-size: 18px;
	height: 15px;
	color: white;
	margin: 0;
	padding-left: 5px;
}

.james-info {
	width: 220px;
	margin-top: 10px;
	margin-left: 20px;
}

.james-info p{
	font-family: "Avenir Next", sans-serif;
	font-size: 16px;
	margin: 0;
	color: white;
}

.james-info p:first-child {
	font-size: 18px;
	color: black;
	width: 160px;
	display: inline-block;
}

.james-info p:nth-child(2) {
	width: 50px;
	text-align: right;
	color: black;
	display: inline-block;
}