html {
	background-color: white;
}
body {
	width: 1260px;
	margin: 0 auto;
}

h1 {
	font-family: 'Candal', serif;
	font-size: 50px;
	height: 65px;
	margin-left: 4%;
	margin-top: 5%;
}

#back {
	background-color: white;
	size: 14px;
	position: absolute;
	width: 50px;
	text-align: center;
	height: 40px;
	margin-top: -50px;
}

#back a {
	text-decoration: none;
	color: black;
}

span:hover {
	font-size: 54px;
	text-shadow: 2px 2px 6px #000000;
	color: #ff00b4;
}

nav {
	text-align: right;
}

nav ul li {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 10px;
	display: inline;
	margin-left: 20px;
}
a {
	text-decoration: none;
	color: black;
}

nav a:hover {
	color: #ff00b4;
	font-weight: 600;
}

main section {
	width: 1260px;
	float: right;
}

main section img {
	margin-left: 30px;
	margin-bottom: 20px;
	height: auto;
	width: 285px;
}

/*MINNA-MEYER*/

div {
	height: 100px;
}

main section div a p {
	display: inline-block;
	width: 300px;
	font-size: 50px;
	font-family: 'Old Standard TT', serif;
	line-height: 50px;
	margin-left: 3%;
	text-align: center;

}

main section div p {
	display: inline-block;
	width: 870px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	margin-left: 40px;
	margin-top: 18px;

}

div a:hover {
	font-style: italic;
	color: #ff00b4;
}

/*OW-BORNS*/

iframe {
	float: right;
}