#back {
	background-color: white;
	size: 14px;
	position: absolute;
	width: 50px;
	text-align: center;
	height: 40px;
	margin-top: -50px;
}

#back a {
	text-decoration: none;
	color: black;
}

main section{
	width: 50%;
}

main section:first-child img {
	width: 600px;
	float: right;
	height: auto;
}

main section:nth-child(2) p {
	font-size: 14px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: justify;
	height: auto;
	float: right;
	width: 340px;
	margin-top: 0;
}

main section:nth-child(2) a:nth-child(2) img {
	width: 60px;
	height: auto;
	display: inline;
	margin-left: 75px;
}

main section:nth-child(2) a:nth-child(3) img {
	margin-left: 30px;
	width: 83px;
	height: auto;
	line-height: 0px;
	display: inline;

}