/* DROPDOWN*/
div.dropdown-title:hover .dropdown-content {
	display: block;
}

div.dropdown-content {
	display: none;
}

.dropdown-title:hover .swatchBox {
	display: none;
}

.dropdown-title:hover .actualSwatch {
	line-height: 50px;
}

.dropdown-title:hover .description {
	display: block;
}

.dropdown-title:hover .dropdown-title {
	height: 550px;
}

.dropdown-title:hover .filler {
	display: none;
}

/*general*/
p{
	font-family: 'Georgia', serif;
	font-size: 16px;
	line-height: 1.5em;
}

th,td {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 1.25em;
}

/*FIXED HEADER*/
#fixedHeader {
	position: fixed;
	width: 100%;
	background-color: white;
	top: 0px;
	left: 0px;
	right: 0px;
	line-height: 30px;
}

/*TOP SECTION DIV*/
#topSection {
	width: 100%;
	margin-top: 90px;
}

/*TWO COLOR SWATCHES*/
#colorSwatch1 {
	background: white;
	border: solid 1px black;
	float: left;
	margin: 0 .5em 1em .5em;
	font-size: 90%;
	text-align:center;
	width: 400px;
}

#topColorSwatch1 {
	background: #B57EDC;
	border-bottom: solid 1px black;
	color: #000000;
	height: 345px;
}

#colorSwatch2 {
	background: white;
	border: solid 1px black;
	float: right;
	margin: 0 .5em 1em 0;
	font-size: 90%;
	text-align:center;
	width: 400px;
}

#topColorSwatch2 {
	background: #E6E6FA;
	border-bottom: solid 1px black;
	color: #000000;
	height: 345px;
}

/*OPENING TEXT*/
#openText {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

/*TABLE*/
.infobox {
	border: 1px solid black;
	margin: auto;
	width: 400px;
	margin-bottom: 20px;
}

table td img {
	display: block;
	width: 330px;
	margin: auto;
}

/*sidebar list*/
li {
	margin-right: 0.5em;
}

/*contents*/
#contents {
	float: left;
	background-color: white;
	width: 20%;
	height: 940px;
	border-bottom: 1px solid blue;
	font-family: 'EB Garamond', serif;
	border-top: 1px solid black;
}

/*section 2 float right*/
#section2 {
	width: 80%;
	float: right;
}

#history {
	margin-left: 0.5em;
}

/*swatches*/
.swatchTitle {
	text-align:center;
	font-size:125%;
	font-weight:bold;
	border: 1px solid black;
	width: 350px;
	height: 550px;
	float: left;
	overflow: scroll;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}

.actualSwatch {
	text-align:center;
	line-height: 250px;
	width: 350px;
}

div.swatchBox table {
	width: 350px;
}

.description {
	display: none;
}

/*section three*/
#bottomSection {
	width: 80%;
	float: right;
}

section {
	right: 0px;
	border-left: 1px solid black;
	margin-top: -20px;
	padding-bottom: 50px;
	padding-top: 20px;
}

section h3 {
	margin-left: 0.5em;
	font-family: 'Georgia', serif;
	text-align: center;
}

section {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	line-height:1.25em;
}

div h2 {
	text-align: center;
	font-size: 26px;
}

/*references*/
#references {
	width: 20%;
	border-right: 1px solid black;
	font-family: 'EB Garamond', serif;
}