html {
	width: 1400px;
}

body {
	background-color: #cccccc;
}
.home {
	position: absolute;
	top: 0;
	left: 7%;
}

.home a {
	text-decoration: none;
	color: black;
}

.paper {
	background-color: white;
	box-shadow: 0px 0px 10px grey;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 800px;
	height: 900px;
	word-wrap: break-word;
}

.container {
	padding: 75px;
	height: 670px;
	overflow-y: hidden;
}

#cursor {
	font-weight: 100;
	color: black;
	font-size: 34px;
	animation: 1s blinker step-end infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

/*words*/
.written {
	font-size: 30px;
	line-height: 40px;
	font-family: "Georgia";
}

/*nav bar at top*/
.nav {
	border: 2px solid black;
	background-color: transparent;
	height: 60px;
	width: 450px;
	margin: 20px auto;
}

/*margin*/
.margins {
	display: inline-block;
	float: right;
	background-color: transparent;
	margin-top: 10px;
	width: 130px;
}

.margin-left, .margin-center {
	background-color: transparent;
	display: inline-block;
	width: 50px;
	height: 40px;
	margin-left: 5px;
	border: 1px solid transparent
}

.margin-left:hover, .margin-center:hover {
	border: 1px solid black;
	border-radius: 3px;
	cursor: pointer;
}

.margin-left img, .margin-center img {
	width: 35px;
	height: 35px;
	padding-left: 7px;
	border: 1px solid transparent;
}

/*classes for margins when clicked*/
.margin-click {
	border: 1px solid black;
	border-radius: 3px;
}

/*font family & size */
.font-fam {
	display: inline-block;
	margin: 0;
	background-color: transparent;
	width: 160px;
	height: 60px;
	border-right: 2px solid black;
}

.font-size {
	margin: 0;
	display: inline-block;
	background-color: transparent;
	width: 140px;
	height: 60px;
	border-right: 2px solid black;
}

.font-fam p, .font-size p {
	margin: 0;
	display: inline-block;
	font-family: "Avenir Next";
	font-size: 20px;
	text-align: center;
	width: 130px;
	margin-left: 10px;
	margin-top: 10px;
	padding: 5px;
	border: 1px solid transparent;
}

.font-size p {
	width: 110px;
}

.font-size:hover, .font-fam:hover {
	cursor: pointer;
}

.font-fam p:hover, .font-size p:hover {
	border: 1px solid black;
	border-radius: 3px;
}

/*classes for font/size when clicked*/
.font-click {
	border: 1px solid black;
	border-radius: 3px;
}