h1 {
	width: 30%;
	margin: auto;
	text-align: center;
	font-size: 90px;
	height: 70px;
}

a {
	text-decoration: none;
	color: black;
}

#back {
	background-color: white;
	size: 14px;
	position: absolute;
	width: 50px;
	text-align: center;
}

#back a {
	text-decoration: none;
	color: black;
}

h2 {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 20%;
	margin: auto;
	margin-top: 10px;
	text-align: center;
	font-size: 22px;
	letter-spacing: 0.5px;
	line-height: 1.8;
	font-family: 'Abril Fatface', cursive;
}
/*ONE*/
.container1 {
	display: block;
	width: 100%;
}

.text1 {
	display: block;
	width: 80%;
	margin: auto;
	margin-top: 15%;
	font-size: 14px;
	line-height: 1.3;
	text-align: justify;
	font-family: 'Libre Baskerville', serif;
}

.it {
	display: block;
	font-family: 'Abril Fatface', cursive;
	float: left;
	font-size: 50px;
	line-height: 0.8;
	margin: 0% 5% 0% 2%;
}

#EH {
	line-height: 0.5;
	font-size: 16px;
	font-family: 'Abril Fatface', cursive;
	letter-spacing: 1px;
	text-align: right;
}

.wrapper1 {
	width: 30%;
	display: block;
	margin-left: 35%;
	height: 140px;
}

.circle1 {
	width: 110px;
	height: 110px;
	background-color: #ebd3d7;
	border-radius: 100%;
	position: absolute;
	margin-top: 3%;
	border: 1px dashed black;
}

.mark1 {
	font-size: 80px;
	color: white;
	position: relative;
	display: inline-block;
	margin-left: 28%;
	margin-top: 25px;
	height: 1px;
}
/* TWO*/
.container2 {
	display: block;
	width: 100%;
}

.text2 {
	display: block;
	width: 80%;
	margin: auto;
	font-size: 14px;
	text-align: justify;
	line-height: 1.3;
	font-family: 'Libre Baskerville', serif;
}

.you {
	display: block;
	font-family: 'Abril Fatface', cursive;
	float: left;
	font-size: 40px;
	line-height: 0.8;
	margin: 0% 5% 0% 2%;
}

#JAF {
	line-height: 0.5;
	font-size: 16px;
	font-family: 'Abril Fatface', cursive;
	letter-spacing: 1px;
	text-align: right;
}

.wrapper2 {
	width: 30%;
	display: block;
	margin-left: 35%;
	height: 140px;
}

.circle2 {
	width: 110px;
	height: 110px;
	background-color: #c6e2ff;
	border-radius: 100%;
	position: absolute;
	margin-top: 3%;
	border: 1px dashed black;
}

.mark2 {
	font-size: 80px;
	color: white;
	position: relative;
	display: inline-block;
	margin-left: 28%;
	margin-top: 25px;
	height: 1px;
}
/*THREE*/
.container3 {
	display: block;
	width: 100%;
}

.text3 {
	display: block;
	width: 80%;
	margin: auto;
	font-size: 14px;
	line-height: 1.3;
	font-family: 'Libre Baskerville', serif;
}

.strike {
	display: block;
	font-family: 'Abril Fatface', cursive;
	float: left;
	font-size: 40px;
	line-height: 0.8;
	margin: 0% 5% 0% 2%;
}

#BJ {
	line-height: 0.5;
	font-size: 16px;
	font-family: 'Abril Fatface', cursive;
	letter-spacing: 1px;
	text-align: right;
}

.wrapper3 {
	width: 30%;
	display: block;
	margin-left: 35%;
	height: 140px;
}

.circle3 {
	width: 110px;
	height: 110px;
	background-color: #ffc3a0;
	border-radius: 100%;
	position: absolute;
	margin-top: 3%;
	border: 1px dashed black;
}

.mark3 {
	font-size: 80px;
	color: white;
	position: relative;
	display: inline-block;
	margin-left: 28%;
	margin-top: 25px;
	height: 1px;
}
/*FOUR*/
.container4 {
	display: block;
	width: 100%;
}

.text4 {
	display: block;
	width: 80%;
	margin: auto;
	font-size: 14px;
	line-height: 1.3;
	font-family: 'Libre Baskerville', serif;
}

.why {
	display: block;
	font-family: 'Abril Fatface', cursive;
	float: left;
	font-size: 40px;
	line-height: 0.8;
	margin: 0% 5% 0% 2%;
}

#WS {
	line-height: 0.5;
	font-size: 16px;
	font-family: 'Abril Fatface', cursive;
	letter-spacing: 1px;
	text-align: right;
}

.wrapper4 {
	width: 30%;
	display: block;
	margin-left: 35%;
	height: 140px;
}

.circle4 {
	width: 110px;
	height: 110px;
	background-color: #c3b0d0;
	border-radius: 100%;
	position: absolute;
	margin-top: 3%;
	border: 1px dashed black;
}

.mark4 {
	font-size: 80px;
	color: white;
	position: relative;
	display: inline-block;
	margin-left: 28%;
	margin-top: 25px;
	height: 1px;
}

.foot {
	width: 100%;
	height: 30px;
}
.footer {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	height: 20px;
	width: 40%;
	margin: auto;
	margin-top: 5%;
}

@media screen and (min-width: 640px) {
	h1 {
		font-size: 110px;
		height: 90px;
	}

	h3 {
		font-size: 20px;
	}

	.text1 {
		font-size: 16px;
	}

	.it {
		font-size: 60px;
	}

	#EH {
		font-size: 20px;
	}

	.wrapper1 {
		height: 220px;
	}

	.circle1 {
		width: 185px;
		height: 185px;
	}

	.circle1:hover {
		background-color: #C6A0A1;
	}

	.mark1 {
		font-size: 160px;
		margin-left: 26%;
		margin-top: 30px;
	}

	/*TWO*/
	.text2 {
		font-size: 16px;
	}

	.you {
		font-size: 60px;
	}

	#JAF {
		font-size: 20px;
	}

	.wrapper2 {
		height: 220px;
	}

	.circle2 {
		width: 185px;
		height: 185px;
	}

	.circle2:hover {
		background-color: #a0bac6;
	}

	.mark2 {
		font-size: 160px;
		margin-left: 26%;
		margin-top: 30px;
	}

	/*THREE*/
	.text3 {
		font-size: 16px;
	}

	.strike {
		font-size: 60px;
	}

	#BJ {
		font-size: 20px;
	}

	.wrapper3 {
		height: 220px;
	}

	.circle3 {
		width: 185px;
		height: 185px;
	}

	.circle3:hover {
		background-color: #c6b5a0;
	}

	.mark3 {
		font-size: 160px;
		margin-left: 26%;
		margin-top: 30px;
	}

	/*FOUR*/
	.text4 {
		font-size: 16px;
	}

	.why {
		font-size: 60px;
	}

	#WS {
		font-size: 20px;
	}

	.wrapper4 {
		height: 220px;
	}

	.circle4 {
		width: 185px;
		height: 185px;
	}

	.circle4:hover {
		background-color: #a0a1c6;
	}

	.mark4 {
		font-size: 160px;
		margin-left: 26%;
		margin-top: 30px;
	}

	.foot {
		height: 40px;
	}
}

@media screen and (min-width: 1024px) {
	html {
		background-image: url("../img/rachel.jpg")
	}

	body {
		background-color: white;
		border-left: 2px solid black;
		border-right: 2px solid black;
	}

	h1 {
		font-size: 130px;
		height: 110px;
	}

	h3 {
		font-size: 22px;
		width: 30%;
	}

	body {
		width: 90%;
		margin: auto;
	}

	.text1 {
		margin: 9% 0% 3% 30%;
		display: inline-block;
		position: absolute;
		width: 55%;
		font-size: 18px;
		line-height: 1.5;
	}

	.it {
		font-size: 80px;
	}

	#EH {
		font-size: 22px;
	}

	.wrapper1 {
		height: 210px;
		width: 22%;
		display: inline-block;
		margin: 10% 0% 5% 4%;
	}

	.circle1 {
		width: 200px;
		height: 200px;
		margin-top: 0%;
	}

	.mark1 {
		font-size: 180px;
		margin-left: 25%;
		margin-top: 30px;
	}

	/*TWO*/

	.text2 {
		margin: 3% 0% 5% 4%;
		display: inline-block;
		width: 60%;
		font-size: 18px;
		line-height: 1.5;
	}

	.you {
		font-size: 80px;
	}

	#JAF {
		font-size: 22px;
	}

	.wrapper2 {
		height: 210px;
		width: 20%;
		display: inline-block;
		position: absolute;
		margin-left: 6%;
		margin-top: 3%;
	}

	.circle2 {
		width: 200px;
		height: 200px;
	}

	.mark2 {
		font-size: 180px;
		margin-left: 25%;
		margin-top: 35px;
	}

	/*THREE*/

	.text3 {
		display: inline-block;
		position: absolute;
		width: 55%;
		font-size: 18px;
		line-height: 1.5;
		margin-left: 30%;
		margin-top: 3%;
	}

	.strike {
		font-size: 80px;
	}

	#BJ {
		font-size: 22px;
	}

	.wrapper3 {
		height: 210px;
		width: 22%;
		display: inline-block;
		margin: 3% 0% 5% 4%;
	}

	.circle3 {
		width: 200px;
		height: 200px;
		margin-top: 0%;
	}

	.mark3 {
		font-size: 180px;
		margin-left: 25%;
		margin-top: 30px;
	}

	/*FOUR*/
	.text4 {
		margin: 3% 0% 5% 4%;
		display: inline-block;
		width: 60%;
		font-size: 18px;
		line-height: 1.5;
	}

	.why {
		font-size: 80px;
	}

	#WS {
		font-size: 22px;
	}

	.wrapper4 {
		height: 210px;
		width: 20%;
		display: inline-block;
		position: absolute;
		margin-left: 6%;
		margin-top: 3%;
	}

	.circle4 {
		width: 200px;
		height: 200px;
	}

	.mark4 {
		font-size: 180px;
		margin-left: 25%;
		margin-top: 35px;
	}

	.foot {
		height: 50px;
	}

	.footer {
		width: 30%;
	}
}

@media screen and (min-width: 1400px) {
	h3 {
		border-top: 2px solid black;
		border-bottom: 2px solid black;
		width: 20%;
	}

	body {
		width: 85%;
	}

	.text1 {
		font-size: 20px;
		margin-left: 27%;
	}

	.it {
		font-size: 100px;
	}

	#EH {
		font-size: 25px;
	}

	.wrapper1 {
		height: 260px;
		margin-bottom: 3%;
	}

	.circle1 {
		width: 250px;
		height: 250px;
	}

	.mark1 {
		font-size: 230px;
		margin-left: 25%;
		margin-top: 30px;
	}

	/*TWO*/

	.text2 {
		font-size: 20px;
		margin-bottom: 8%;
		margin-top: 5%;
	}

	.you {
		font-size: 100px;
	}

	#JAF {
		font-size: 25px;
	}

	.wrapper2 {
		height: 260px;
	}

	.circle2 {
		width: 250px;
		height: 250px;
	}

	.mark2 {
		font-size: 230px;
		margin-left: 25%;
		margin-top: 35px;
	}

	/*THREE*/
	.text3 {
		font-size: 20px;
		margin-left: 31%;
		width: 50%;
	}

	.strike {
		font-size: 100px;
	}

	#BJ {
		font-size: 25px;
	}

	.wrapper3 {
		height: 260px;
		margin-bottom: 3%;
	}

	.circle3 {
		width: 250px;
		height: 250px;
	}

	.mark3 {
		font-size: 230px;
		margin-left: 25%;
		margin-top: 30px;
	}

	/*FOUR*/
	.text4 {
		font-size: 20px;
		margin-bottom: 8%;
		margin-top: 3%;
		width: 55%;
	}

	.why {
		font-size: 100px;
	}

	#WS {
		font-size: 25px;
	}

	.wrapper4 {
		height: 260px;
		margin-left: 11%;
	}

	.circle4 {
		width: 250px;
		height: 250px;
	}

	.mark4 {
		font-size: 230px;
		margin-left: 25%;
		margin-top: 35px;
	}

	.foot {
		height: 50px;
	}

	.footer {
		width: 20%;
	}
}