body {
	color: black;
	background-color: white;
}

#back {
	background-color: white;
	size: 14px;
	position: absolute;
	width: 50px;
	text-align: center;
	height: 40px;
}

h1 {
	font-family: 'Dosis', sans-serif;
	font-size: 55px;
	line-height: 90px;
	letter-spacing: 4px;
	height: 80px;
	width: 93%;
	margin: auto;
	text-align: right;
}

h2 {
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	line-height: 30px;
	text-align: right;
	margin: auto;
	width: 93%;
	height: 70px;
	border-bottom: 1px dashed black;
}

li {
	text-decoration: none;
	list-style-type: none;
	width: 96%;
	line-height: 125px;
	font-family: 'Bungee Shade', cursive;
	font-size: 45px;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

li:first-child {
	background-color: #cceae7;
}

li:nth-child(2) {
	background-color: #99d5cf;
}

li:nth-child(3) {
	background-color: #66c0b7;
}

li:nth-child(4) {
	background-color: #32ab9f;
}

li:last-child {
	background-color: #009688;
}